.main_postnew {
  max-width: 960px;
  display: flex;
  flex-direction: row;
  /* Phần tử con được sắp xếp từ trên xuống dưới */
  justify-content: center;
  /* Căn các phần tử vào giữa theo chiều ngang */
  margin: 0px auto;
  /* background-color: rgb(244, 244, 244); */
  background-color: rgb(178, 26, 26);
  padding: 12px 12px;
}
