absl-py
aiofiles1
aiohttp
aiosignal
altair
annotated-types
anyio
appdirs
appnope
asgiref
asttokens
astunparse
async-generatorasync-timeout
attrs0
audioread
audiosegment0
backcall
beautifulsoup42
blinker
cachetools
certifi12.7
cffi1
chardet
charset-normalizer
click
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
comm
contourpy
cycler0
debugpy
decorator
Django
docker-pycreds
einops
exceptiongroup
executing
faiss-cpu
fastapi.1
# fastdup
ffmpy
filelock2
Flask
Flask-Cors
flatbuffers26
fonttools0
frozenlist
fsspec6.0
ftfy
gast
gdown
gitdb0
GitPython2
google-auth0
google-auth-oauthlib
google-pasta
googletrans
gradio0
gradio_client
grpcio0
grpcio-tools2
h110
h2
h5py
hpack
hstspreload1.1
httpcore0
httptools
httpx0
huggingface-hub4
hyperframe
idnaimageio3
imgaug
ipykernel0
ipython
itsdangerous
jedi2
Jinja2
joblib
jsonschema0
jsonschema-specifications7.1
jupyter_client
jupyter_core
keras1
kiwisolver
lazy_loaderibclang6
libretranslatepy
librosa
linkify-it-py
llvmlite1
lmdb
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mpmath
multidict
mysqlclient
nest-asyncio
networkxumba1
numpy0
oauthlib
open-clip-torch0
opencv-python.76
opencv-python-headless.64
opt-einsum
orjson
outcome
packagingpandas
parso
pathtools
pexpect
pickleshare
Pillow
pillow-heif0
platformdirs
pooch
portalocker
prefetch-generator
prompt-toolkit6
protobuf3
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparserpydantic
pydantic_core
pydub1
Pygments0
pyparsing
PySocks
python-dateutil
python-dotenv
python-multipart
pytz4
PyWavelets
PyYAML
pyzmq2
qdrant-client
rapidfuzz
referencing2
regex6.3
requests1
requests-oauthlib
resampy
rfc3986
rpds-py
rsaafetensors
scikit-image0
scikit-learn
scipy
selenium
semantic-version0
sentencepiece9
sentry-sdk2
setproctitle
shapely
six0
sklearnost1
smmap
sniffio
sortedcontainers
soundfile0
soupsieveqlparse
stack-data
starlette0
sympytensorboard0
tensorboard-data-server
tensorflow0
tensorflow-estimator0
tensorflow-macos0
termcolor
threadpoolctl
tifffile8.30
timm
toolz0
torch
torchaudio
torchvision2
tornado
tqdm0
traitlets
translate
trio0
trio-websocket2
typing.3
typing_extensions
uc-micro-py
urllib314
uvicorn2
uvloop0
vietocr1
wandb0
watchfiles0
wcwidth
webrtcvad0
websockets3
Werkzeug
wrapt0
wsproto
yarl
